body{
background-color: rgb(231, 208, 231);
}

div{
display: flexbox;
justify-content: space-between;
}

img 
{  
height: 300px;
width: 200px;
border: darkcyan 10px rgb(53, 105, 148);
border-radius: 150px;
padding: 73px;
}

#practice{
    background-color: rgb(80, 142, 192);
    color:rgb(0, 0, 0);
    text-align: justify;
    border: solid;
    margin: 50px 90px 50px;
}

.vv{
    background-color: rgb(189, 110, 110);
color: rgb(0, 0, 0);
text-align: justify;
border:solid;
margin: 50px 90px 50px;
}

a{
text-decoration: none;
}